name: Build and Deploy

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

jobs:
  set-variables:
    # This workaround sets the container image for each job using 'set-variables' job output.
    # env variables don't work for PR from forks, so we need to use outputs.
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.version.outputs.VERSION }}
      DATE_TAG: ${{ steps.version.outputs.DATE_TAG }}
    steps:
      - name: Define version
        id: version
        run: |
          echo "DATE_TAG=$(date -u +'%Y%m%d-%H%M%S-${COMMIT_SHA:0:8}')" >> ${GITHUB_OUTPUT}
          export COMMIT_SHA="${{ github.sha }}"
          export COMMIT_SHA_SHORT=${COMMIT_SHA:0:8}
          export REF_NAME="${{ github.ref_name }}"
          export REF_SLUG=${REF_NAME//\//_}
          if [[ ${REF_SLUG} == "main" ]]
          then
            echo "VERSION=${REF_SLUG}-${COMMIT_SHA_SHORT}" >> $GITHUB_OUTPUT
          else
            echo "VERSION=${REF_SLUG}" >> $GITHUB_OUTPUT
          fi

  build_push_docker:
    name: Build docker image
    runs-on: ubuntu-latest
    environment: ${{ github.event_name == 'push' && 'main_n_tags' || null }}
    needs: [set-variables]
    env:
      VERSION: ${{ needs.set-variables.outputs.VERSION }}
      DATE_TAG: ${{ needs.set-variables.outputs.DATE_TAG }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        if: github.event_name == 'push'
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Docker image
        uses: docker/build-push-action@v6
        env:
          DOCKER_BUILD_SUMMARY: false
          DOCKER_BUILD_RECORD_UPLOAD: false
        with:
          context: .
          file: ./Dockerfile
          push: ${{ github.event_name == 'push' }}
          tags: |
            docker.io/paritytech/polkadot-rest-api:${{ env.VERSION }}
            docker.io/paritytech/polkadot-rest-api:${{ env.DATE_TAG }}
