name: Helm

on:
  push:
    branches: [main]
    paths:
      - 'helm/**'
  pull_request:
    branches: [main]
    paths:
      - 'helm/**'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Lint Helm chart
        run: helm lint helm/
